*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(130deg, rgba(213,10,212,1) 17%, rgba(53,53,185,1) 50%, rgb(40, 192, 222, 1) 83%);
    display: flex;
    justify-content: center;
}
.container{
    min-width: 500px;
    width: 40%;
    height: 33.33vh;
    max-height: 600px;
    background-color: rgb(251, 251, 251, 0.3);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 5px 5px 10px rgb(60, 58, 58);
}
#clock{
    /* background-color: blue; */
    height: 50%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgb(65, 60, 60);
    background-color: white;
}
.button{
    height: 50%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-around;
    align-items: end;
    
}
button{
    height: 50%;
    min-height: 0.5rem;
    width: 25%;
    min-width: 3rem;
    font-size: small;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(65, 60, 60);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#start{
    background-color: rgb(48, 213, 48);
    color: white;
}
#pause{
    background-color: rgb(61, 82, 186);
    color: white;
}
#reset{
    background-color: rgb(220, 155, 43);
    color: white;
}
